---
layout: page
---


<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
{% include head.html %}

<body>
    {% include header.html %}
    <div class="wrap">
        <h1>
            <span class="material-icons-outlined">flight_land</span>
        </h1>

        <p id="dynamic" class="lg-text">

            Welcome to Freeyeon's Blog

        </p>

        <p class="sm-text">
            SooyeonYeom | DEV & DESIGN
        </p>

    </div>
    {% include footer.html %}
</body>

</html>