---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
{% include head.html %}


<body class="main-page has-push-menu">

    {% include svg-icons.html %}

    <section class="content">
        {{ content }}
    </section>


    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", function (user) {
                if (!user) {
                    window.netlifyIdentity.on("login", function () {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

    <!-- Include the script that allows Netlify CMS login -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- Include the website scripts -->
    <script src="{{ '/assets/js/scripts.min.js' | prepend: site.baseurl }}"></script>

    <!-- Include Google Analytics script -->
    {% include stats.html %}

    <!-- Include extra scripts -->
    {% include extra-js.html %}
</body>

</html>